# Linear Regression in statsmodels (practice)

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline, Pipeline
import statsmodels.api as sm
from sklearn.metrics import r2_score, mean_squared_error

## Initial Preprocessing

In [40]:
df = pd.read_csv('Data/CarPrice_Assignment.csv', index_col = 'car_ID')
df.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 1 to 205
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int64(7), object(10)
memory usage: 41.6+ KB

In [42]:
## checking for null values
df.isna().sum()

symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [43]:
## Make x and y variables
y = df['price'].copy()
X = df.drop(columns=['price']).copy()
X_train,X_test, y_train, y_test = train_test_split(X,y, random_state=42)
X_train.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
car_ID,,,,,,,,,,,,,,,,,,,,,
91,1,nissan gt-r,diesel,std,two,sedan,fwd,front,94.5,165.3,...,four,103,idi,2.99,3.47,21.9,55,4800,45,50
174,-1,toyota corolla,gas,std,four,sedan,fwd,front,102.4,175.6,...,four,122,mpfi,3.31,3.54,8.7,92,4200,29,34
94,1,nissan titan,gas,std,four,wagon,fwd,front,94.5,170.2,...,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37
6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,177.3,...,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25
168,2,toyota corona liftback,gas,std,two,hardtop,rwd,front,98.4,176.2,...,four,146,mpfi,3.62,3.50,9.3,116,4800,24,30

In [44]:
## make cat selector and using it to save list of column names
cat_select = make_column_selector(dtype_include='object')
cat_cols = cat_select(X_train)
cat_cols

['CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [45]:
## make num selector and using it to save list of column names
num_select = make_column_selector(dtype_include='number')
num_cols = num_select(X_train)
num_cols

['symboling',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg']

In [46]:
## make pipelines
cat_pipe = make_pipeline(SimpleImputer(strategy='constant',
                                       fill_value='MISSING'),
                         OneHotEncoder(handle_unknown='ignore', sparse=False)
                        )
num_pipe = make_pipeline(SimpleImputer(strategy='mean')#,
                          #StandardScaler()
                          )
preprocessor = make_column_transformer((cat_pipe,cat_cols),
                                        (num_pipe, num_cols), remainder='passthrough')

## Preprocessing for statsmodels

In [47]:
## fit the col transformer
preprocessor.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('pipeline-1',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(fill_value='MISSING',
                                                                strategy='constant')),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False))]),
                                 ['CarName', 'fueltype', 'aspiration',
                                  'doornumber', 'carbody', 'drivewheel',
                                  'enginelocation', 'enginetype',
                                  'cylindernumber', 'fuelsystem']),
                                ('pipeline-2',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer())]),
                                 ['symboling', 'wheelbase', 'carlength',
                                  'carwidth', 'carheight', 'curbweight',
                                  'enginesize', 'boreratio', 'stroke',
                                  'compressionratio', 'horsepower', 'peakrpm',
                                  'citympg', 'highwaympg'])])

**Getting feature names**

In [48]:
ohe_step = preprocessor.named_transformers_['pipeline-1'].named_steps['onehotencoder']
cat_features = ohe_step.get_feature_names_out(cat_cols)
cat_features

array(['CarName_Nissan versa', 'CarName_alfa-romero Quadrifoglio',
       'CarName_alfa-romero giulia', 'CarName_alfa-romero stelvio',
       'CarName_audi 100 ls', 'CarName_audi 100ls', 'CarName_audi 4000',
       'CarName_audi 5000', 'CarName_audi fox', 'CarName_bmw 320i',
       'CarName_bmw x1', 'CarName_bmw x3', 'CarName_bmw z4',
       'CarName_buick opel isuzu deluxe',
       'CarName_buick regal sport coupe (turbo)', 'CarName_buick skyhawk',
       'CarName_buick skylark', 'CarName_chevrolet vega 2300',
       'CarName_dodge challenger se', 'CarName_dodge colt (sw)',
       'CarName_dodge coronet custom', 'CarName_dodge d200',
       'CarName_dodge dart custom', 'CarName_dodge rampage',
       'CarName_honda accord', 'CarName_honda accord cvcc',
       'CarName_honda accord lx', 'CarName_honda civic',
       'CarName_honda civic (auto)', 'CarName_honda civic 1500 gl',
       'CarName_honda civic cvcc', 'CarName_honda prelude',
       'CarName_isuzu D-Max ', 'CarName_isuzu MU-X', 'CarName_jaguar xf',
       'CarName_jaguar xj', 'CarName_jaguar xk',
       'CarName_maxda glc deluxe', 'CarName_maxda rx3',
       'CarName_mazda 626', 'CarName_mazda glc', 'CarName_mazda glc 4',
       'CarName_mazda glc custom', 'CarName_mazda glc deluxe',
       'CarName_mazda rx-4', 'CarName_mazda rx-7 gs',
       'CarName_mazda rx2 coupe', 'CarName_mercury cougar',
       'CarName_mitsubishi g4', 'CarName_mitsubishi lancer',
       'CarName_mitsubishi mirage', 'CarName_mitsubishi mirage g4',
       'CarName_mitsubishi montero', 'CarName_mitsubishi outlander',
       'CarName_nissan clipper', 'CarName_nissan fuga',
       'CarName_nissan gt-r', 'CarName_nissan kicks',
       'CarName_nissan latio', 'CarName_nissan leaf',
       'CarName_nissan otti', 'CarName_nissan rogue',
       'CarName_nissan teana', 'CarName_nissan titan',
       'CarName_peugeot 304', 'CarName_peugeot 504',
       'CarName_peugeot 504 (sw)', 'CarName_peugeot 505s turbo diesel',
       'CarName_peugeot 604sl', 'CarName_plymouth cricket',
       'CarName_plymouth duster', 'CarName_plymouth fury gran sedan',
       'CarName_plymouth fury iii',
       'CarName_plymouth satellite custom (sw)',
       'CarName_plymouth valiant', 'CarName_porcshce panamera',
       'CarName_porsche boxter', 'CarName_porsche cayenne',
       'CarName_porsche macan', 'CarName_renault 12tl',
       'CarName_renault 5 gtl', 'CarName_saab 99e', 'CarName_saab 99gle',
       'CarName_saab 99le', 'CarName_subaru', 'CarName_subaru brz',
       'CarName_subaru dl', 'CarName_subaru r1', 'CarName_toyota carina',
       'CarName_toyota celica gt', 'CarName_toyota celica gt liftback',
       'CarName_toyota corolla', 'CarName_toyota corolla 1200',
       'CarName_toyota corolla liftback', 'CarName_toyota corolla tercel',
       'CarName_toyota corona', 'CarName_toyota corona liftback',
       'CarName_toyota corona mark ii', 'CarName_toyota cressida',
       'CarName_toyota mark ii', 'CarName_toyota starlet',
       'CarName_toyota tercel', 'CarName_toyouta tercel',
       'CarName_volkswagen 1131 deluxe sedan',
       'CarName_volkswagen 411 (sw)', 'CarName_volkswagen dasher',
       'CarName_volkswagen model 111', 'CarName_volkswagen rabbit custom',
       'CarName_volkswagen super beetle', 'CarName_volkswagen type 3',
       'CarName_volvo 144ea', 'CarName_volvo 145e (sw)',
       'CarName_volvo 244dl', 'CarName_volvo 245', 'CarName_volvo 246',
       'CarName_volvo 264gl', 'CarName_volvo diesel', 'CarName_vw dasher',
       'CarName_vw rabbit', 'fueltype_diesel', 'fueltype_gas',
       'aspiration_std', 'aspiration_turbo', 'doornumber_four',
       'doornumber_two', 'carbody_convertible', 'carbody_hardtop',
       'carbody_hatchback', 'carbody_sedan', 'carbody_wagon',
       'drivewheel_4wd', 'drivewheel_fwd', 'drivewheel_rwd',
       'enginelocation_front', 'enginelocation_rear', 'enginetype_dohc',
       'enginetype_dohcv', 'enginetype_l', 'enginetype_ohc',
       'enginetype_ohcf', 'enginetype_ohcv', 'enginetype_rotor',
       'cylindernumber_eight', 'cylindernumber_five',
       'cylindernumber_four', 'cylindernumber_six',
       'cylindernumber_twelve', 'cylindernumber_two', 'fuelsystem_1bbl',
       'fuelsystem_2bbl', 'fuelsystem_4bbl', 'fuelsystem_idi',
       'fuelsystem_mpfi', 'fuelsystem_spdi', 'fuelsystem_spfi'],
      dtype=object)

In [49]:
final_features = []
final_features.extend(cat_features)
final_features.extend(num_cols)

**Transform X_train**

In [50]:
X_train_df = pd.DataFrame( preprocessor.transform(X_train), columns=final_features, index=X_train.index)
X_train_df.head()

,CarName_Nissan versa,CarName_alfa-romero Quadrifoglio,CarName_alfa-romero giulia,CarName_alfa-romero stelvio,CarName_audi 100 ls,CarName_audi 100ls,CarName_audi 4000,CarName_audi 5000,CarName_audi fox,CarName_bmw 320i,...,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
car_ID,,,,,,,,,,,,,,,,,,,,,
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,54.5,2017.0,103.0,2.99,3.47,21.9,55.0,4800.0,45.0,50.0
174,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,54.9,2326.0,122.0,3.31,3.54,8.7,92.0,4200.0,29.0,34.0
94,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53.5,2024.0,97.0,3.15,3.29,9.4,69.0,5200.0,31.0,37.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,53.1,2507.0,136.0,3.19,3.40,8.5,110.0,5500.0,19.0,25.0
168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,52.0,2540.0,146.0,3.62,3.50,9.3,116.0,4800.0,24.0,30.0

In [51]:
X_test_df = pd.DataFrame(preprocessor.transform(X_test), columns=final_features, index=X_test.index)
X_test_df.head()

,CarName_Nissan versa,CarName_alfa-romero Quadrifoglio,CarName_alfa-romero giulia,CarName_alfa-romero stelvio,CarName_audi 100 ls,CarName_audi 100ls,CarName_audi 4000,CarName_audi 5000,CarName_audi fox,CarName_bmw 320i,...,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
car_ID,,,,,,,,,,,,,,,,,,,,,
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,55.7,3230.0,209.0,3.62,3.39,8.00,182.0,5400.0,16.0,22.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,52.0,3053.0,131.0,3.13,3.40,7.00,160.0,5500.0,16.0,22.0
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,54.7,2302.0,120.0,3.33,3.47,8.50,97.0,5200.0,27.0,34.0
133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56.1,2658.0,121.0,3.54,3.07,9.31,110.0,5250.0,21.0,28.0
69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.7,3750.0,183.0,3.58,3.64,21.50,123.0,4350.0,22.0,25.0

**Adding a constant**

In [65]:
X_train_df = sm.add_constant(X_train_df, prepend=False)
X_test_df = sm.add_constant(X_test_df, prepend=False, has_constant='add')
display(X_train_df.head(2), X_test_df.head(2))

,CarName_Nissan versa,CarName_alfa-romero Quadrifoglio,CarName_alfa-romero giulia,CarName_alfa-romero stelvio,CarName_audi 100 ls,CarName_audi 100ls,CarName_audi 4000,CarName_audi 5000,CarName_audi fox,CarName_bmw 320i,...,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,const
car_ID,,,,,,,,,,,,,,,,,,,,,
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2017.0,103.0,2.99,3.47,21.9,55.0,4800.0,45.0,50.0,1.0
174,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2326.0,122.0,3.31,3.54,8.7,92.0,4200.0,29.0,34.0,1.0

,CarName_Nissan versa,CarName_alfa-romero Quadrifoglio,CarName_alfa-romero giulia,CarName_alfa-romero stelvio,CarName_audi 100 ls,CarName_audi 100ls,CarName_audi 4000,CarName_audi 5000,CarName_audi fox,CarName_bmw 320i,...,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,const
car_ID,,,,,,,,,,,,,,,,,,,,,
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3230.0,209.0,3.62,3.39,8.0,182.0,5400.0,16.0,22.0,1.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3053.0,131.0,3.13,3.40,7.0,160.0,5500.0,16.0,22.0,1.0

## Run the model in statsmodels and produce a results summary

In [66]:
model = sm.OLS(y_train, X_train_df)
result = model.fit()

In [67]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.997
Model:                            OLS   Adj. R-squared:                  0.929
Method:                 Least Squares   F-statistic:                     14.70
Date:                Mon, 09 May 2022   Prob (F-statistic):            0.00126
Time:                        16:35:49   Log-Likelihood:                -1139.8
No. Observations:                 153   AIC:                             2574.
Df Residuals:                       6   BIC:                             3019.
Df Model:                         146
Covariance Type:            nonrobust
===========================================================================================================
                                              coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
CarName_Nissan versa                     2780.2761   6247.193      0.445      0.672   -1.25e+04    1.81e+04
CarName_alfa-romero Quadrifoglio         4171.6131   7214.829      0.578      0.584   -1.35e+04    2.18e+04
CarName_alfa-romero giulia              -3648.5225   5867.049     -0.622      0.557    -1.8e+04    1.07e+04
CarName_alfa-romero stelvio              -643.5225   5867.049     -0.110      0.916    -1.5e+04    1.37e+04
CarName_audi 100 ls                      1471.6822   3945.640      0.373      0.722   -8182.951    1.11e+04
CarName_audi 100ls                      -3582.7541   3870.321     -0.926      0.390   -1.31e+04    5887.579
CarName_audi 4000                       -1638.0785   7095.196     -0.231      0.825    -1.9e+04    1.57e+04
CarName_audi 5000                       -2515.4776   4483.782     -0.561      0.595   -1.35e+04    8455.941
CarName_audi fox                         4121.4112   1.28e+04      0.323      0.758   -2.71e+04    3.53e+04
CarName_bmw 320i                         7346.1212   5778.146      1.271      0.251   -6792.492    2.15e+04
CarName_bmw x1                           1.918e+04   1.02e+04      1.876      0.110   -5838.900    4.42e+04
CarName_bmw x3                           1.678e+04   7202.949      2.330      0.059    -843.548    3.44e+04
CarName_bmw z4                           1.343e+04   8622.622      1.558      0.170   -7664.254    3.45e+04
CarName_buick opel isuzu deluxe         -3469.5950   7752.164     -0.448      0.670   -2.24e+04    1.55e+04
CarName_buick regal sport coupe (turbo)  8790.8218   1.09e+04      0.809      0.450   -1.78e+04    3.54e+04
CarName_buick skyhawk                    1043.3913   1.38e+04      0.076      0.942   -3.27e+04    3.48e+04
CarName_buick skylark                   -6176.6426   7246.869     -0.852      0.427   -2.39e+04    1.16e+04
CarName_chevrolet vega 2300             -1073.6451   5327.712     -0.202      0.847   -1.41e+04     1.2e+04
CarName_dodge challenger se              1003.2570   6270.995      0.160      0.878   -1.43e+04    1.63e+04
CarName_dodge colt (sw)                 -3900.1592   6791.047     -0.574      0.587   -2.05e+04    1.27e+04
CarName_dodge coronet custom            -3554.1192   8782.584     -0.405      0.700    -2.5e+04    1.79e+04
CarName_dodge d200                      -1178.2201   9141.552     -0.129      0.902   -2.35e+04    2.12e+04
CarName_dodge dart custom                -553.4716   4904.682     -0.113      0.914   -1.26e+04    1.14e+04
CarName_dodge rampage                     -78.5718   7059.838     -0.011      0.991   -1.74e+04    1.72e+04
CarName_honda accord                     2945.9623   1.42e+04      0.208      0.842   -3.17e+04    3.76e+04
CarName_honda accord cvcc                 316.4436   1.07e+04      0.030      0.977   -2.58e+04    2.65e+04
CarName_honda accord lx                   827.6833   1.05e+04      0.079      0.939   -2.47e+04    2.64e+04
CarName_honda civic                       705.4740   5372.970      0.131      0.900   -1.24e+04    1.39e+04
CarName_honda civic (auto)              -1882.9346   5552.230     -0.339      0.746   -1.55e+04    1.17e+04
CarName_honda civic 1500 gl              2134.8449   1.08e+04      0.197      0.850   -2.43e+04    2.86e+04
CarName_honda civic cvcc                  699.2046   1.07e+04      0.066      0.950   -2.54e+04    2.68e+04
CarName_honda prelude                     277.0440   1.17e+04      0.024      0.982   -2.84e+04     2.9e+04
CarName_isuzu D-Max                      2095.3674   5645.161      0.371      0.723   -1.17e+04    1.59e+04
CarName_isuzu MU-X                        197.2799   5945.553      0.033      0.975   -1.44e+04    1.47e+04
CarName_jaguar xf                        2484.2226   1.03e+04      0.241      0.818   -2.28e+04    2.77e+04
CarName_jaguar xj                        -815.7774   1.03e+04     -0.079      0.940   -2.61e+04    2.44e+04
CarName_jaguar xk                        1534.0336   1.08e+04      0.141      0.892    -2.5e+04    2.81e+04
CarName_maxda glc deluxe                 1614.0972   3314.020      0.487      0.644   -6495.017    9723.211
CarName_maxda rx3                        1544.8413   5425.897      0.285      0.785   -1.17e+04    1.48e+04
CarName_mazda 626                        -100.1211   4595.077     -0.022      0.983   -1.13e+04    1.11e+04
CarName_mazda glc                       -1277.3710   2330.662     -0.548      0.603   -6980.296    4425.554
CarName_mazda glc 4                       485.8667   4230.253      0.115      0.912   -9865.189    1.08e+04
CarName_mazda glc custom                 1055.6981   4881.256      0.216      0.836   -1.09e+04     1.3e+04
CarName_mazda glc deluxe                    2.0977   3663.456      0.001      1.000   -8962.055    8966.251
CarName_mazda rx-4                      -1132.9709   3681.637     -0.308      0.769   -1.01e+04    7875.671
CarName_mazda rx-7 gs                     422.5506   2367.036      0.179      0.864   -5369.377    6214.478
CarName_mazda rx2 coupe                  2214.0189   3269.690      0.677      0.524   -5786.623    1.02e+04
CarName_mercury cougar                    940.6121   9341.005      0.101      0.923   -2.19e+04    2.38e+04
CarName_mitsubishi g4                   -3280.5122   6011.353     -0.546      0.605    -1.8e+04    1.14e+04
CarName_mitsubishi lancer               -2506.9474   4984.624     -0.503      0.633   -1.47e+04    9689.989
CarName_mitsubishi mirage               -3072.5973   6138.556     -0.501      0.635   -1.81e+04    1.19e+04
CarName_mitsubishi mirage g4             -807.1532   6369.982     -0.127      0.903   -1.64e+04    1.48e+04
CarName_mitsubishi montero              -6496.5512   4547.178     -1.429      0.203   -1.76e+04    4629.992
CarName_mitsubishi outlander            -3310.6019   4619.985     -0.717      0.501   -1.46e+04    7994.094
CarName_nissan clipper                   1426.9488   4363.814      0.327      0.755   -9250.920    1.21e+04
CarName_nissan fuga                     -1877.1606   7696.850     -0.244      0.815   -2.07e+04     1.7e+04
CarName_nissan gt-r                      1482.9432   6977.626      0.213      0.839   -1.56e+04    1.86e+04
CarName_nissan kicks                     -402.1669   6135.380     -0.066      0.950   -1.54e+04    1.46e+04
CarName_nissan latio                      991.7747   3700.688      0.268      0.798   -8063.482       1e+04
CarName_nissan leaf                      3339.3044   5288.579      0.631      0.551   -9601.383    1.63e+04
CarName_nissan otti                      -669.3974   9707.305     -0.069      0.947   -2.44e+04    2.31e+04
CarName_nissan rogue                     1815.0879   5233.751      0.347      0.741    -1.1e+04    1.46e+04
CarName_nissan teana                    -1690.1975   5150.885     -0.328      0.754   -1.43e+04    1.09e+04
CarName_nissan titan                     2885.4990   4790.139      0.602      0.569   -8835.549    1.46e+04
CarName_peugeot 304                     -4234.4429   4103.206     -1.032      0.342   -1.43e+04    5805.740
CarName_peugeot 504                     -1897.8956   4488.393     -0.423      0.687   -1.29e+04    9084.806
CarName_peugeot 504 (sw)                -3068.9271   5539.129     -0.554      0.600   -1.66e+04    1.05e+04
CarName_peugeot 505s turbo diesel        -502.7696   5812.531     -0.086      0.934   -1.47e+04    1.37e+04
CarName_peugeot 604sl                      89.5337   5166.853      0.017      0.987   -1.26e+04    1.27e+04
CarName_plymouth cricket                 1295.9199   7734.473      0.168      0.872   -1.76e+04    2.02e+04
CarName_plymouth duster                 -2597.5306   7221.813     -0.360      0.731   -2.03e+04    1.51e+04
CarName_plymouth fury gran sedan        -5019.5031   4514.762     -1.112      0.309   -1.61e+04    6027.721
CarName_plymouth fury iii                -928.4586   6702.802     -0.139      0.894   -1.73e+04    1.55e+04
CarName_plymouth satellite custom (sw)  -2029.4956   4081.394     -0.497      0.637    -1.2e+04    7957.316
CarName_plymouth valiant                 -502.9569   4908.430     -0.102      0.922   -1.25e+04    1.15e+04
CarName_porcshce panamera                 628.7295   5352.633      0.117      0.910   -1.25e+04    1.37e+04
CarName_porsche boxter                   7835.8280   7363.838      1.064      0.328   -1.02e+04    2.59e+04
CarName_porsche cayenne                  2128.7295   5198.224      0.410      0.696   -1.06e+04    1.48e+04
CarName_porsche macan                    4606.1607   6158.075      0.748      0.483   -1.05e+04    1.97e+04
CarName_renault 12tl                     -898.3036   8401.446     -0.107      0.918   -2.15e+04    1.97e+04
CarName_renault 5 gtl                   -1371.8803   7664.013     -0.179      0.864   -2.01e+04    1.74e+04
CarName_saab 99e                        -3501.0456   8583.106     -0.408      0.698   -2.45e+04    1.75e+04
CarName_saab 99gle                       -611.9504   7389.350     -0.083      0.937   -1.87e+04    1.75e+04
CarName_saab 99le                       -2991.6707   7103.246     -0.421      0.688   -2.04e+04    1.44e+04
CarName_subaru                          -1570.2369   5569.201     -0.282      0.787   -1.52e+04    1.21e+04
CarName_subaru brz                       -679.1410   4414.453     -0.154      0.883   -1.15e+04    1.01e+04
CarName_subaru dl                       -3674.2935   6079.918     -0.604      0.568   -1.86e+04    1.12e+04
CarName_subaru r1                       -4179.3321   7284.723     -0.574      0.587    -2.2e+04    1.36e+04
CarName_toyota carina                   -1.678e+04   2.52e+04     -0.667      0.530   -7.83e+04    4.48e+04
CarName_toyota celica gt                -1609.1080   6939.012     -0.232      0.824   -1.86e+04    1.54e+04
CarName_toyota celica gt liftback       -3302.7829   7748.333     -0.426      0.685   -2.23e+04    1.57e+04
CarName_toyota corolla                     59.0292   2536.406      0.023      0.982   -6147.332    6265.390
CarName_toyota corolla 1200              -283.9779   3202.857     -0.089      0.932   -8121.087    7553.132
CarName_toyota corolla liftback           855.4739   9191.172      0.093      0.929   -2.16e+04    2.33e+04
CarName_toyota corolla tercel           -2103.8649   7963.073     -0.264      0.800   -2.16e+04    1.74e+04
CarName_toyota corona                   -1166.2757   2828.051     -0.412      0.694   -8086.267    5753.715
CarName_toyota corona liftback          -4118.9183   3766.983     -1.093      0.316   -1.33e+04    5098.556
CarName_toyota corona mark ii            -631.8363   4124.548     -0.153      0.883   -1.07e+04    9460.569
CarName_toyota cressida                   264.2773   5731.207      0.046      0.965   -1.38e+04    1.43e+04
CarName_toyota mark ii                   -350.1223   2945.387     -0.119      0.909   -7557.224    6856.980
CarName_toyota starlet                    922.9487   3548.399      0.260      0.803   -7759.672    9605.569
CarName_toyota tercel                   -4151.0969   5829.040     -0.712      0.503   -1.84e+04    1.01e+04
CarName_toyouta tercel                   2054.9570   3786.927      0.543      0.607   -7211.320    1.13e+04
CarName_volkswagen 1131 deluxe sedan    -1137.7480   5103.529     -0.223      0.831   -1.36e+04    1.14e+04
CarName_volkswagen 411 (sw)             -4096.5158   4021.003     -1.019      0.348   -1.39e+04    5742.525
CarName_volkswagen dasher               -1179.0816   3792.832     -0.311      0.766   -1.05e+04    8101.645
CarName_volkswagen model 111            -5262.6213      1e+04     -0.526      0.618   -2.97e+04    1.92e+04
CarName_volkswagen rabbit custom        -2222.3706   1.35e+04     -0.164      0.875   -3.54e+04    3.09e+04
CarName_volkswagen super beetle         -4081.1820   1.14e+04     -0.358      0.733    -3.2e+04    2.38e+04
CarName_volkswagen type 3               -3135.5284   4216.898     -0.744      0.485   -1.35e+04    7182.850
CarName_volvo 144ea                        52.4053   1.04e+04      0.005      0.996   -2.55e+04    2.56e+04
CarName_volvo 145e (sw)                 -1269.8693   7560.539     -0.168      0.872   -1.98e+04    1.72e+04
CarName_volvo 244dl                      2594.9838   7209.368      0.360      0.731    -1.5e+04    2.02e+04
CarName_volvo 245                        2170.4842   7030.076      0.309      0.768    -1.5e+04    1.94e+04
CarName_volvo 246                        5751.3405   1.52e+04      0.378      0.718   -3.15e+04     4.3e+04
CarName_volvo 264gl                      2160.1322   9694.749      0.223      0.831   -2.16e+04    2.59e+04
CarName_volvo diesel                     1678.5274   1.15e+04      0.145      0.889   -2.66e+04    2.99e+04
CarName_vw dasher                         100.7625   7113.074      0.014      0.989   -1.73e+04    1.75e+04
CarName_vw rabbit                         514.6359   7546.979      0.068      0.948    -1.8e+04     1.9e+04
fueltype_diesel                           948.2844   1.62e+04      0.058      0.955   -3.88e+04    4.07e+04
fueltype_gas                            -9100.3693   1.36e+04     -0.671      0.527   -4.23e+04    2.41e+04
aspiration_std                          -4311.8581    1.2e+04     -0.358      0.732   -3.38e+04    2.51e+04
aspiration_turbo                        -3840.2269   1.15e+04     -0.335      0.749   -3.19e+04    2.42e+04
doornumber_four                         -2997.1758   1.14e+04     -0.263      0.801   -3.09e+04    2.49e+04
doornumber_two                          -5154.9092   1.21e+04     -0.427      0.684   -3.47e+04    2.44e+04
carbody_convertible                     -2267.8198   6424.877     -0.353      0.736    -1.8e+04    1.35e+04
carbody_hardtop                          1319.9683   4427.164      0.298      0.776   -9512.912    1.22e+04
carbody_hatchback                       -2821.3887   5347.948     -0.528      0.617   -1.59e+04    1.03e+04
carbody_sedan                           -1161.9221   5311.023     -0.219      0.834   -1.42e+04    1.18e+04
carbody_wagon                           -3220.9227   6211.132     -0.519      0.623   -1.84e+04     1.2e+04
drivewheel_4wd                          -1507.1272   5736.621     -0.263      0.802   -1.55e+04    1.25e+04
drivewheel_fwd                          -3000.6524   1.16e+04     -0.258      0.805   -3.15e+04    2.55e+04
drivewheel_rwd                          -3644.3054   8627.557     -0.422      0.687   -2.48e+04    1.75e+04
enginelocation_front                    -1.679e+04      2e+04     -0.841      0.433   -6.56e+04    3.21e+04
enginelocation_rear                      8634.9898   9451.913      0.914      0.396   -1.45e+04    3.18e+04
enginetype_dohc                          2527.1723   5449.280      0.464      0.659   -1.08e+04    1.59e+04
enginetype_dohcv                         1958.2972   9004.804      0.217      0.835   -2.01e+04     2.4e+04
enginetype_l                            -9614.5015   1.45e+04     -0.664      0.532   -4.51e+04    2.58e+04
enginetype_ohc                          -2824.3429   4236.925     -0.667      0.530   -1.32e+04    7543.040
enginetype_ohcf                         -1468.0137   8539.282     -0.172      0.869   -2.24e+04    1.94e+04
enginetype_ohcv                          1638.2574   7839.114      0.209      0.841   -1.75e+04    2.08e+04
enginetype_rotor                         -368.9537   6929.556     -0.053      0.959   -1.73e+04    1.66e+04
cylindernumber_eight                     1102.8815   4477.017      0.246      0.814   -9851.984    1.21e+04
cylindernumber_five                     -2571.5076   9303.758     -0.276      0.792   -2.53e+04    2.02e+04
cylindernumber_four                       450.2672   7979.117      0.056      0.957   -1.91e+04       2e+04
cylindernumber_six                      -8298.8060   6654.447     -1.247      0.259   -2.46e+04    7984.039
cylindernumber_twelve                    1534.0336   1.08e+04      0.141      0.892    -2.5e+04    2.81e+04
cylindernumber_two                       -368.9537   6929.556     -0.053      0.959   -1.73e+04    1.66e+04
fuelsystem_1bbl                         -1219.8678   6716.042     -0.182      0.862   -1.77e+04    1.52e+04
fuelsystem_2bbl                          1070.4967   4339.351      0.247      0.813   -9547.512    1.17e+04
fuelsystem_4bbl                          -854.8204   3638.284     -0.235      0.822   -9757.380    8047.739
fuelsystem_idi                            948.2844   1.62e+04      0.058      0.955   -3.88e+04    4.07e+04
fuelsystem_mpfi                           264.7563   1982.846      0.134      0.898   -4587.093    5116.606
fuelsystem_spdi                         -2209.3837   4648.464     -0.475      0.651   -1.36e+04    9164.999
fuelsystem_spfi                         -6151.5504   1.16e+04     -0.531      0.615   -3.45e+04    2.22e+04
symboling                                1238.7161   1856.706      0.667      0.529   -3304.480    5781.912
wheelbase                                 168.3001    863.044      0.195      0.852   -1943.492    2280.092
carlength                                -273.1218    465.127     -0.587      0.578   -1411.246     865.002
carwidth                                 1260.7702   1931.096      0.653      0.538   -3464.452    5985.992
carheight                                -282.2254   1125.651     -0.251      0.810   -3036.595    2472.144
curbweight                                 20.0157     19.218      1.041      0.338     -27.010      67.042
enginesize                                -17.0198    304.757     -0.056      0.957    -762.733     728.693
boreratio                               -5051.4702   6161.556     -0.820      0.444   -2.01e+04       1e+04
stroke                                   -758.2410   3992.536     -0.190      0.856   -1.05e+04    9011.142
compressionratio                         -922.8608   2421.584     -0.381      0.716   -6848.264    5002.542
horsepower                                -38.5782     86.415     -0.446      0.671    -250.029     172.872
peakrpm                                     0.9266      6.503      0.142      0.891     -14.986      16.839
citympg                                     2.8369    814.797      0.003      0.997   -1990.900    1996.574
highwaympg                                 89.6786    583.414      0.154      0.883   -1337.885    1517.242
const                                   -8152.0850   2.33e+04     -0.350      0.738   -6.51e+04    4.88e+04
==============================================================================
Omnibus:                       55.654   Durbin-Watson:                   2.245
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              629.001
Skew:                          -0.888   Prob(JB):                    2.59e-137
Kurtosis:                      12.773   Cond. No.                     6.85e+18
==============================================================================

Notes:

##  Evaluate the model on the test set

In [68]:
test_preds = result.predict(X_test_df)

In [72]:
test_r2 = r2_score(y_test, test_preds)
test_mse = mean_squared_error(y_test, test_preds)

In [76]:
print(f'The testing r-square value is {test_r2:.3f} and the testing mean squared error is {test_mse:.2f}.')

The testing r-square value is 0.484 and the testing mean squared error is 34919164.50.